@import "tailwindcss";

:root {
  color: #111827;
  font-family: "Segoe UI", roboto, sans-serif;
  line-height: 1.4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #f4f6fb;
  margin: 0;
}
